body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.header {
    border-bottom: 1px solid #e7e9fc;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.header .container {
    display: flex;
    justify-content: space-between;
}

.header-nav {
    display: flex;
    align-items: center;
}

.main-nav {
    display: flex;
    gap: 40px;
}

.address {
    font-style: normal;
    display: flex;
    gap: 40px;
}

.logo-web {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-studio {
    color: #2e2f42;
    margin-right: 76px;
}

.main-nav-link {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;

}

.main-nav-link:hover,
.main-nav-link:focus {
    color: #404bbf;
}

.address-link {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.address-link:hover,
.address-link:focus {
    color: #404bbf;
}

.main-form {
    background-color: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
}

.main-form .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-form-title {
    max-width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 48px;
}

.main-form-btn {
    border-radius: 4px;
    padding: 16px 32px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    border: none;
    min-width: 169px;
    cursor: pointer;
}

.main-form-btn:hover,
.main-form-btn:focus {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #404bbf;
}

.visually-hidden {
    position: fixed;
    transform: scale(0);
}

.features-list {
    display: flex;
    gap: 24px;
    max-width: 1128px;
}

.features-list .features-list-item {
    width: calc((100% - 72px) / 4);
}

.features-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.features-list-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.our-team {
    background-color: #f4f4fd;
}

.team-list {
    display: flex;
    max-width: 1128px;
    gap: 24px;
}

.team-list-item {
    flex-basis: calc((100% - 72px) / 4);
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.team-list-item-descr {
    padding: 32px 0;
}

.team-list-title {
    text-align: center;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.team-list-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
    max-width: 1128px;
}

.portfolio-list-item {
    width: calc((100% - 48px) / 3);
}

.portfolio-list-item-descr {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-list-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #2e2f42;
}

.footer-logo-web {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo-studio {
    color: #f4f4fd;
}

.footer-text {
    max-width: 264px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}
